services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: fastapi_app
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: nginx_proxy
    ports:
      - "8080:8080"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

